[workspace]
members = [
#  "contracts/core-contracts/*",
  "contracts/token-contracts/cw-hub-bnusd",
  "libraries/rust/common",]


[profile.release]
opt-level = 'z'
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
